body{
font-family:Verdana,Arial,san-serif;
color:#666666;
}
header{
background-color:#191970;
font-family:Georgia,serif;
color:#FFFFFF;
height:100px;
}
.logo{
	float:left;
}
h1{
line-height:200%;
height:72px;
margin-bottom:0;
padding-left:20px;
text-align:center;
}


dd{
font-weight:bold;
color:#000033;
}


	
main{

margin-left:170px;
padding-top:30px;
max-width:960px;
margin:0 auto;
}

}
h3{
color:#000033;
}


